.article {}

.article-header {
  margin-bottom: $vertical-gutter;
  //opacity: 0.8;

  &.on-page {
    margin-bottom: $block-gutter;
  }
}

.article-body {
  &:not(:last-child) {
    margin-bottom: $block-gutter;
  }
}

/** article preview */
.article-preview-wrapper {
  margin-top: $vertical-gutter;

  & + & {
    margin-top: $block-gutter;
  }
}

.article-preview {
  @include display-flex();
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include align-content(stretch);

  margin-left: -$horizontal-gutter;
  margin-right: -$horizontal-gutter;

  & > * {
    padding-right: $horizontal-gutter;
    padding-left: $horizontal-gutter;
  }
}

.article-image-wrapper {
  @include flex(1 1 200px);
  margin-bottom: $vertical-gutter;
}

.article-toolbar {
  margin-left: -0.3rem;
  margin-right: -0.3rem;

  > * {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

  &.on-page {
    margin-bottom: $block-gutter;
  }
}

.article-caption {
  @include flex(10 1 290px);
}

.article-title {
  margin-bottom: $vertical-gutter;

  font-size: $font-size-h3;
  text-transform: uppercase;
  font-weight: $font-weight-heading;
  line-height: 1.2;
}

.article-link {
  @include link-decor($color-text-primary, $color-link-primary-hover);
}

.article-introtext {
  margin-bottom: $vertical-gutter;
}

.article-readmore {
}

/** article common */
.author {
  display: inline-block;
  margin-bottom: $vertical-gutter/2;
  line-height: 1.2;
}

.comments-count {
  display: inline-block;
  margin-bottom: $vertical-gutter/2;
  line-height: 1.2;
}

.date {
  display: inline-block;
  margin-bottom: $vertical-gutter/2;
  line-height: 1.2;
}
