.collection {}

.collection-description {

  &.at-top {
    padding-bottom: $vertical-gutter;
    border-bottom: 2px solid $gray-lighter;
  }
}

.open-filter {
  margin-right: 0.3rem;
}

// toolbar
.collection-toolbar {
  //margin-top: $vertical-gutter;
  //margin-bottom: $vertical-gutter;

  @include display-flex();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);

  margin-left: auto;

  &.is-top {
  }

  &.is-bottom {
    border-top: 2px solid $gray-lighter;
  }
}

// collection menu
.collection-menu-wrapper {
}

.collection-menu-header {
}

.collection-menu {
  @include menu(vertical);
  @include flex(1 1 100%);

  .collection-menu {
    padding-left: 1rem;
  }
}

.collection-menu-item {
  @include menu-item();
  //@include flex-wrap(nowrap);

  &.is-close {
    > .collection-menu {
      display: none;
    }
  }
}

.collection-menu-link {
  @include menu-link($color-text-primary, $color-link-primary-hover, $color-link-primary);
  padding: 0.6rem 0;

  @include flex(1 1 100px);

  font-size: $font-size-primary;
  line-height: 1.3;
}

.collection-menu-marker {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  font-size: 80%;

  @include icon($fa-plus);

  @include link-decor($color-link-primary, $color-link-primary-hover);

  .menu-item.is-open > & {
    @include icon($fa-minus);
  }
}

// Product list
.products-list {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;

  &.in-tab {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*  Collection order
-----------------------------------------*/
.collection-order-wrapper {
  margin-top: $vertical-gutter/2;
  margin-bottom: $vertical-gutter/2;

  &.top-toolbar {
    margin-left: auto;
  }
}

.collection-order {
  @include display-flex();
  @include align-items(center);

  .label-field,
  .select-wrapper {
  }

  .label-field {
  }

  .select-field {
    option {

    }
  }

  @include media-max(sm) {
    text-align: left;
  }
}

// filter
.collection-filter {
  //margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;
}

.collection-filter-header {
  margin-bottom: 1.5rem;
  padding-top: 0.7rem;
  border-bottom: 2px solid $gray-lighter;
  line-height: 2;

  font-size: $font-size-h3;
  font-weight: normal;
}

.filter {

  &.is-close {
    .filter-items-wrapper {
      display: none;
    }
  }
}

.filter-control {

}

.filter-items-wrapper {
  padding-bottom: 1rem;

  &.hide {
    display: none;
  }
}

.filter-items-list {
  @include list('vertical', 'filter');

  &.scrollable {
    max-height: 300px;
    overflow-y: auto;
  }
}

.filter-item {
  @include flex(1 1 100%);
  @include align-items(center);
  margin: 0.5rem 0;
  @include transition-duration();

  &:hover {
    color: $color-link-primary-hover;
  }
}

.filter-field {
  @include flex(0 0 30px);
  height: 16px;

  display: none;

  &:checked {
    + .filter-label {
      color: $color-link-primary;

      @include icon($fa-circle);
    }
  }
}

.filter-label {
  @include flex-grow(1);
  cursor: pointer;

  padding-left: 1.5rem;

  @include icon($fa-circle-thin) {
    position: absolute;
    left: 2px;
    top: 0;
    font-size: 1rem;
  }
}

.filter-toggle {
  @include button();
  width: 100%;
  padding-right: 2rem;
  margin: 0.1rem 0;

  position: relative;

  text-align: left;
  line-height: 2;
  white-space: normal;

  color: $color-text-primary;
  @include transition-duration();

  @include icon($fa-plus) {
    position: absolute;
    top: 50%;
    right: 0.5em;
    @include translateY(-50%);
    color: $color-link-primary;

    font-size: 80%;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    color: $color-link-primary-hover;

    @include icon() {
      color: $color-link-primary-hover;
    }
  }

  &.is-active {
    color: $color-link-primary;

    @include icon($fa-minus) {
      //color: $color-link-primary-hover;
    };
  }
}

.filter-clear {
  display: none;
}

.filters-clear {
  width: 100%;
}

.filter-name {
  font-size: $font-size-primary;
}

.filter-submit {
  width: 100%;
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;
}
