/** layout */
.fhg-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fhg-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/** buttons */
.button {
  background-color: #999;
  padding: 0.5em 1em;

  color: #fff;
  font-size: 1rem;

  @include transition-duration();

  &:hover {
    background-color: lighten(#999, 10%);
  }

  &.is-primary {
    background-color: $color-link-primary;
    color: #fff;

    &:hover {
      background-color: $color-link-primary-hover;
    }
  }

  &.is-transparent {
    padding-left: 0;
    padding-right: 0;

    background-color: transparent;
    color: $color-text-primary;

    &:hover {
      background-color: transparent;
      color: $color-link-primary-hover;
    }

  }
}

/** Breadcrumb */
.breadcrumb-wrapper {
  margin-top: $vertical-gutter;
  margin-bottom: 2rem;
}

.breadcrumb {
  @include list('horizontal', 'breadcrumb');

  .breadcrumb-item {

    + .breadcrumb-item {
      @include icon($fa-angle-right) {
        padding-right: .4rem;
        padding-left: .4rem;
      }
    }
  }

  .breadcrumb-link {
    font-weight: 300;
    text-decoration: none;

    &:not(.current-page) {
      @include link-decor($color-link-primary, $color-link-primary-hover);
    }
  }

  .current-page {
  }
}

/** pagination */
.pagination {
  @include list('horizontal', 'pagination');
  width: auto;
  margin: $vertical-gutter 0;
  margin-left: auto;

  .pagination-item {

    + .pagination-item {
      margin-left: 3px;
    }

    .pagination-link {
      @include link-decor();
      border: 1px solid $color-border-primary;
      display: block;
      padding: 6px 4px;
      height: auto;
      min-width: 30px;

      color: $color-text-primary;
      font-size: 1rem;
      text-decoration: none;
      text-align: center;
      vertical-align: top;
      line-height: 1.1;
    }

    &.is-current .pagination-link {
      color: $color-link-primary;
      border-color: $color-link-primary;
    }

    &:hover .pagination-link,
    .pagination-link:hover {
      border-color: $color-link-primary-hover;
      color: $color-link-primary-hover;
    }
  }
}

/** tabs */

.tabs-menu-wrapper {
  border-bottom: 2px solid $gray-lighter;
}

.tabs-menu {
  @include list('horizontal', 'tabs-menu');

  margin-left: -$horizontal-gutter;
  margin-right: -$horizontal-gutter;
  margin-bottom: -2px;
}

.tabs-menu-item {
  margin: 0 $horizontal-gutter;
  border-bottom: 2px solid transparent;

  &.is-active {
    border-bottom-color: $color-link-primary;

    .tabs-menu-link {
      color: $color-link-primary;
    }
  }
}

.tabs-menu-link {
  line-height: 2;

  font-size: $font-size-large;
  @include link-decor($color-text-primary, $color-link-primary-hover);
}

.tabs-list {
}

.tab-block {
  padding: $vertical-gutter 0;

  &.is-closed {
    display: none;
  }

  &.is-active {
  }
}

.tab-block-toolbar {
  margin-top: $vertical-gutter;
}

/** counter */
.counter {
  @include display-flex();
  @include flex(1 1 100px);
  @include flex-wrap(nowrap);
  height: 40px;
  max-width: 100px;

  position: relative;
  padding-right: 20px;
}

.counter-input {
  height: inherit;
  padding-left: $horizontal-gutter;
  padding-right: $horizontal-gutter;
  min-width: 10px;
  width: 100%;

  border: 1px solid $color-border-primary;
  color: $gray-darker;

  @include flex(1 1 50px);

  text-align: center
}

.counter-button{
  width: 20px;
  height: 20px;
  padding: 0;

  position: absolute;
  right: 0;

  background-color: $color-link-primary;
  color: #fff;

  font-size: 80%;

  &.count-up {
    top: 0;
    border-bottom: 1px solid #fff;
  }

  &.count-down {
    bottom: 0;
    border-top: 1px solid #fff;
  }

  &:hover {
    background-color: $color-link-primary-hover;
  }
}

/** swiper js */
.swiper-button-prev,
.swiper-button-next {
  background-image: none;
  position: static;
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 20px;
}

.swiper-controls {
  position: relative;
}

.swiper-header {
  @include display-flex();
  @include justify-content(space-between);
  @include flex-wrap(nowrap);
  @include align-items(center);

  .swiper-container-horizontal > & {
    margin-bottom: $vertical-gutter;
  }
}

.swiper-title {
  margin: 0;
}

.swiper-wrapper {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;

  border-radius: 0;

  &:hover {
    background-color: $color-link-primary-hover;
    opacity: 1;
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-link-primary;
}

.swiper-toolbar {}

/** collection-order */
.collection-order-wrapper {
  @include display-flex();
  @include align-items(center);
}

.collection-order {

  .label-field {
    margin: $vertical-gutter/2 $horizontal-gutter/2;
  }

  .select-field {
  }
}

/** styled select */
select,
.styled-select,
.select-field {
  padding: 0.35rem 0.5rem;
  background-color: transparent;
  border: 1px solid $color-border-primary;

  @supports (-moz-appearance: none) or  (-webkit-appearance: none) or (appearance: none) {
    @include appearance(none);
    padding-right: 2rem;
    background: {
      image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAg0lEQVQ4T93SOw7CQAyE4S811LScgDvwODdwCnoEHRUNPRpEpAARjpQu7ry2/52ddWNkNCPnTRSwwh3XL3+WmOPUPe/z4IA0b3B5Nyc/4oxtBVhgjxnWvIzO8AM73CpA6l1I8t7hFP59YwtJ38/NrYpqDwJJfMge8oTBC1opKEETADwBfzAREc8bA7cAAAAASUVORK5CYII=') !important;
      repeat: no-repeat;
      position: 97% center;
    };
  }
}

/** notice */

.notice {
  @include notice();
  line-height: 1.2;
}

.notice-error {
  @include notice-variant($brand-error, 0.2);
}

.notice-info {
  @include notice-variant($brand-info, 0.2);
}

.notice-warning {
  @include notice-variant($brand-warning, 0.2)
}

.notice-success {
  @include notice-variant($brand-success, 0.2);
}

/** forms */

.form {
  @include display-flex();
  @include flex-wrap(wrap);
  @include align-items(flex-start);

  margin-left: -0.5rem;
  margin-right: -0.5rem;

  > * {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: $vertical-gutter;
  }
}

.form-row {
  @include display-flex();
  @include align-items(center);
  @include flex-wrap(wrap);

  @include flex(1 1 200px);

  > * {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.is-required {
    .form-label {
      &:after {
        content: '*';
        color: $brand-error;
        margin-left: 0.35rem;
      }
    }
  }

  &.with-error {
    .form-field {
      border-color: darken($brand-error, 20%);
      background-color: rgba($brand-error, 0.1);
    }

    .form-label {
      color: darken($brand-error, 20%);
    }
  }

  &:not(.with-error) {
    .from-notice.is-error {
      display: none;
    }
  }

  &.is-wide {
    @include flex-basis(100%);
  }

  &.in-line {
    @include flex-basis(100%);

    .form-label {
      @include flex-basis(150px);
      margin-bottom: 0;
    }
  }
}

.form-label {
  @include flex-basis(100%);

  @include media-max(xs) {
    @include flex-basis(100% !important);
    margin-bottom: 0.5rem !important;
  }
}

.form-field {
  @include flex(1 1 100px);
  width: 100%;
  padding: $vertical-gutter/2 $horizontal-gutter/2;
  border: 1px solid $color-border-primary;

  line-height: 1.2;

  &.is-textarea {
    min-height: 100px;
  }

  &.is-captcha {
    margin-bottom: $vertical-gutter/2;
  }
}

.form-controls {
  @include flex-basis(100%);
  margin-bottom: $vertical-gutter;
}


/*  Star rating
-----------------------------------------*/
.star-rating-wrapper {
  @include pie-clearfix();
}

.star-rating {
  float: left;

  @include pie-clearfix();

  .star-radio {
    display: none;

    &:hover ~ .star-label,
    &:checked ~ .star-label {

      &:after {
        content: $star-icon-active;
      }
    }

    &:hover ~ .star-label:after { color: $star-hover-color !important;}
    &:checked ~ .star-label:after { color: $star-active-color; }
  }

  .star-label {
    cursor: pointer;
    float: right;
    font-size: $font-size-large;

    &:after {
      color: $star-color;
      content: $star-icon;
      display: inline-block;
      font-family: $font-family-icon;
    }

    &:hover:after {
      color: $star-hover-color;
    }

    &:hover ~ .star-label:after {
      color: $star-hover-color !important;
    }

    &.active {

      ~ .star-label:after,
      &:after {
        content: $star-icon-active;
      }
    }
  }

  .star-item {
    color: $star-color;
    float: right;
    overflow: hidden;

    &:after {
      content: $star-icon;
      display: inline-block;
      font-family: $font-family-icon;
    }

    &.active {

      &:after {
        color: $star-active-color;
        content: $star-icon-active;
      }

      & ~ .star-item:after {
        color: $star-active-color;
        content: $star-icon-active;
      }
    }
  }
}

/** tables */

.table {
  .table-row,
  tr {

  }

  .table-cell,
  td {
    padding: $vertical-gutter/2 $horizontal-gutter/2;
    line-height: 1.2;
  }
};

.table-striped {
  .table-row,
  tr {
    &:nth-child(odd) {

      .table-cell,
      td {
        background-color: rgba($gray-lighter, 0.5);
      }
    }
  }

  .table-cell,
  td {

  }
}

.table-bordered {
  .table-cell,
  td {
    border: 1px solid $gray-lighter;
  }
}

/** Comments */

.reviews-header,
.comments-header {
  margin-bottom: $vertical-gutter;
  line-height: 2;

  border-bottom: 2px solid $gray-lighter;
}

.reviews-wrapper,
.comments-wrapper {
  &.is-close {
    .reviews-form,
    .comments-form {
      display: none;
    }
  }
}

.reviews-form,
.comments-form {
  padding: $vertical-gutter 0;
}

.reviews-list,
.comments-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.reviews-item,
.comments-item {
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-lighter;

  + & {
    margin-top: $vertical-gutter;
  }
}

.review-header,
.comment-header,
.review-footer,
.comment-footer {
  margin-left: -0.35rem;
  margin-right: -0.35rem;

  > * {
    padding: 0 0.35rem;
    margin-bottom: 0.5rem;
  }
}

.review-header,
.comment-header {
  margin-bottom: $vertical-gutter;
}

.review-footer,
.comment-footer {
  margin-top: $vertical-gutter;
}

.review-body,
.comment-body {
  line-height: 1.2;
}
