html {
  font-size: $font-size-primary;
}

body {
  font-size: $font-size-primary;
  font-family: $font-family-primary;
  font-weight: 300;
  color: $color-text-primary;

  a {
    @include transition-duration();

    &:not([class]) {
      @include link-decor($color-link-primary, $color-link-primary-hover);
    }
  }

  &:after {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: $body-background-color;

    @if $body-background-use {
      background-image: url('body_background_image.jpg');
    }

    @if $body-background-type == 'tile' {
      background-repeat: repeat;
      background-position: left top;
    }

    @if $body-background-type == 'stretch' {
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
    }
  }
}

.link {
  @include link-decor($color-text-primary, $color-link-primary-hover);
}

/** base */
.page-header {
  font-size: $font-size-h1;
  line-height: 1.4;
  font-weight: 300;
}

.decorated-title-wrapper {
  @include display-flex();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-bottom: 2rem;
  border-bottom: 2px solid $gray-lighter;
}

.decorated-title {
  display: inline-block;
  margin-bottom: -2px;
  margin-right: 0.5rem;
  border-bottom: 2px solid $color-link-primary;

  line-height: 2;
  font-size: $font-size-large;
  font-weight: 300;
}

.page-wrapper {
  @include display-flex();
  @include align-items(stretch);
}

.page-inner {
  background-color: $color-background-primary;

  @include pie-clearfix();
}

.page-content {
  margin-bottom: $block-gutter;
}
.page-sidebar {
  margin-bottom: $vertical-gutter;
}

.sidebar-block {
  + & {
    margin-top: 2rem;
  }
}

.sidebar-block-header {
  margin-bottom: 1.5rem;
  padding-top: 0.7rem;
  border-bottom: 2px solid $gray-lighter;
  line-height: 2;

  font-size: $font-size-h3;
  font-weight: normal;
}

/** TOP PANEL */
.top-panel {
  padding-top: $vertical-gutter/2;
  padding-bottom: $vertical-gutter/2;

  background-color: $color-background-secondary;

  @include media-max(sm) {
    position: fixed;
    min-width: 320px;
    min-height: 2rem;
    left: 0;
    right: 0;
    top: 0;

    box-shadow: $shadow;
    z-index: z(dropdown);
  }
}

.top-panel-inner {
  //@include flex-wrap(nowrap);
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.top-menu-wrapper {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  @include flex(1 1 60%);
}

.top-menu {
  @include menu('horizontal');
}

.top-menu-item {
  @include menu-item();
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.top-menu-link {
  @include menu-link($color-text-secondary, $color-link-secondary-hover, $color-link-secondary);
  padding: 0 0.75rem;
}

.top-panel-open {
  @include menu-link($color-text-secondary, $color-link-secondary-hover, $color-link-secondary);
  padding: 0 0.75rem;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

/** HEADER */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  border-bottom: 2px solid $gray-lighter;

  @include media-max(sm) {
    margin-top: 2rem;
    padding-top: $vertical-gutter;
    padding-bottom: $vertical-gutter;
  }
}

.header-block {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;
  @include display-flex();
}

.email,
.phone {
  .contact-link{
    @include link-decor($color-text-primary, $color-link-primary-hover);
  }

  .icon {
    display: inline-block;
    margin-right: 5px;

    color: $color-link-primary;
  }
}

/** logotype */
.logotype {
}

.logotype-link {
  line-height: 1;

  @include link-decor($color-link-primary, $color-link-primary-hover)
}

.logotype-text {
  font-size: $logotype-font-size;
  font-family: $logotype-font-family;
  line-height: 1.1;
}

.logotype-image {
}

/** Main menu */
.main-menu-wrapper {
  //border-top: 2px solid $gray-lighter;
  border-bottom: 2px solid $gray-lighter;
}

.main-menu {
  margin-top: $vertical-gutter/2;
  margin-bottom: $vertical-gutter/2;

  .main-menu {

    background-color: #fff;
    min-width: 180px;
    box-shadow: $shadow;
  }

  &.level-1 {
    @include menu(horizontal);
    padding-top: $vertical-gutter/2;
    padding-bottom: $vertical-gutter/2;

    @include justify-content(center);
  }

  &.level-2 {
    @include menu(vertical drop bottom);
    left: 0;

    @include justify-content(start);
  }

  &.level-3,
  &.level-4,
  &.level-5,
  &.level-6,
  &.level-7 {
    @include menu(vertical drop right);
    top: 0;
  }
}

.main-menu-item {
  @include menu-item();
  @include flex-wrap(nowrap);

  &.level-1 {
    padding: 0 $horizontal-gutter/2;
  }

  &.level-2 {}

  &.is-close {
    > .main-menu {
      display: none;
    }
  }
}

.main-menu-link {
  @include menu-link($color-text-primary, $color-link-primary-hover, $color-link-primary);
  padding: 0.4rem 0.8rem;

  font-size: $font-size-primary;
  line-height: 1.2;

  &.level-1 {
    padding: 0;

    font-size: $font-size-medium;
    line-height: 1.8;
    text-transform: uppercase;
  }
}

.main-menu-icon {
  display: none;
}

.main-menu-marker {
  @include transition-duration();
  width: 1rem;
  font-size: 50%;
  margin-left: $horizontal-gutter/2;

  color: $color-text-primary;
  position: relative;

  .main-menu-item.is-current > &,
  .main-menu-item:hover > & {
    color: $color-link-primary-hover;
  }

  &.level-1 {
    @include icon($fa-chevron-down) {
      @include position-center();
    };

    .main-menu-item:hover > & {
      @include rotate(180deg);
    }
  }

  &.level-2,
  &.level-3,
  &.level-4,
  &.level-5 {
    @include icon($fa-chevron-right) {
      @include position-center();
    }
  }
}

/** -- HEADER */

/** FOOTER */
.footer {
  padding-top: $vertical-gutter;
  padding-bottom: $vertical-gutter;

  background-color: $color-background-secondary;
  color: $color-text-secondary;

  a:not([class]) {
    @include link-decor($color-text-secondary, $color-link-secondary-hover, 'underline');
  }
}

.footer-block {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;

  .contact-link {
    @include link-decor($color-text-secondary, $color-link-secondary-hover);
    .icon {
      color: $color-link-secondary;
    }
  }
}

/** footer-menu */
.footer-menu-wrapper {
  margin-top: $vertical-gutter/2;
  margin-bottom: $vertical-gutter/2;

  &.is-horizontal {
    .footer-menu {
      @include menu(horizontal);

      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }

    .menu-item {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  &.is-vertical {
    .footer-menu {
      @include menu(vertical);
    }
  }
};

@include media-max(sm) {
  .footer-menu {
    @include menu(horizontal);

    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .menu-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.footer-menu-item {
  @include menu-item();
}

.footer-menu-link {
  @include menu-link($color-text-secondary, $color-link-secondary-hover, $color-link-secondary);
  padding-bottom: $vertical-gutter/2;
  padding-top: $vertical-gutter/2;
}

.footer-menu-icon {
  display: none;
}
/** -- footer-menu */

.social-menu-wrapper {
}

.social-menu {
  .social-menu-link {
    padding-left: $horizontal-gutter;
    padding-right: $horizontal-gutter;

    @include link-decor($color-text-secondary, $color-link-secondary-hover);
  }
}
/** -- FOOTER */

/** */

.left-menu {
  @include menu(vertical);
  @include flex(1 1 100%);

  .left-menu {
    padding-left: 1rem;
  }
}

.left-menu-item {
  @include menu-item();

  &.is-close {
    > .left-menu {
      display: none;
    }
  }

}
.left-menu-icon {
  display: none;
}

.left-main-menu {
  @include menu(vertical);
  @include flex(1 1 100%);

  .left-main-menu {
    padding-left: 1rem;
  }

}
.left-main-menu-icon {
  display: none;
}

.left-menu-link {
  @include menu-link($color-text-primary, $color-link-primary-hover, $color-link-primary);
  padding: 0.6rem 0;

  font-size: $font-size-primary;
}

.left-menu-marker {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  font-size: 80%;

  @include icon($fa-plus);

  @include link-decor($color-link-primary, $color-link-primary-hover);

  .menu-item.is-open > & {
    @include icon($fa-minus);
  }
}

.left-main-menu-item {
  @include menu-item();

  &.is-close {
    > .left-main-menu {
      display: none;
    }
  }
}

.left-main-menu-link {
  @include menu-link($color-text-primary, $color-link-primary-hover, $color-link-primary);
  padding: 0.6rem 0;

  font-size: $font-size-primary;
}

.left-main-menu-marker {
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  font-size: 80%;

  @include icon($fa-plus);

  @include link-decor($color-link-primary, $color-link-primary-hover);

  .menu-item.is-open > & {
    @include icon($fa-minus);
  }
}

/** panels */

.alertify {
  .ajs-panel {
    box-shadow: $shadow;
    margin: 0;

    &.left {
      top: 0;
      bottom: 0;
      left: 0;
      width: 300px;
      min-height: 100%;
    }
    .ajs-reset {
      display: none !important;
    }

    &.top {
      top: 0;
      left: 0;
      right: 0;
      min-width: 300px;
      max-width: 100%;
      min-height: auto;

      .ajs-body {
        min-height: auto;
      }
    }

    &.mobile-search {
      .ajs-commands {
        display: none;
      }
    }
  }

  &.ajs-panel-placeholder {
    .ajs-modal {
      padding: 0;
    }
  }

  .ajs-modal {
    .ajs-header {
      line-height: 2;
      margin-bottom: 2rem;
      border-bottom: 2px solid $gray-lighter;

      font-size: $font-size-large;
      font-weight: normal;
    }
  }
}
