// Colors
$gray-base:                     #000 !default;
$gray-darker:                   lighten($gray-base, 13.5%) !default;
$gray-dark:                     lighten($gray-base, 20%)   !default;
$gray:                          lighten($gray-base, 33.5%) !default;
$gray-light:                    lighten($gray-base, 46.7%) !default;
$gray-lighter:                  lighten($gray-base, 93.5%) !default;

$primary-background:            #428bca !default;
$primary-text:                  #ffffff !default;
$primary-border:                #428bca !default;
$primary-link:                  #428bca !default;
$primary-link-hover:            darken(#428bca, 20%) !default;

$secondary-background:          #e6a022 !default;
$secondary-text:                #ffffff !default;
$secondary-border:              #e6a022 !default;
$secondary-link:                #e6a022 !default;
$secondary-link-hover:          darken(#e6a022, 20%) !default;

$brand-success:                 #5cb85c !default;
$brand-info:                    #5bc0de !default;
$brand-warning:                 #f0ad4e !default;
$brand-error:                   #d9534f !default;

// Background
$body-background-color:         #fff !default;
$body-background-image:         false !default;
$body-background-repeat:        no-repeat !default;
$body-background-position:      top center !default;

// Global textual link color.
$link-color:                    $primary-link !default;
$link-decoration:               underline !default;
$link-hover-color:              $primary-link-hover !default;
$link-hover-decoration:         none !default;

// Fonts
$font-size-base:                14px !default;
$font-family-sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:             Georgia, "Times New Roman", Times, serif !default;
$font-family-icon:              "FontAwesome" !default;
$line-height-base:              16px !default;

// Headings
$headings-font-family:          $font-family-serif !default;

// Guters
$gutter-vertical:               20px;
$gutter-horizontal:             20px;
$gutter-vertical-sm:            10px;
$gutter-horizontal-sm:          10px;

// Z-indexes
$z-layers: (
  dropdown: 1000
) !default;

// Cursor
$cursor-disabled:               not-allowed !default;

// Transition
$transition-delay:              .15s !default;
$transition-animation:          ease !default;;