// Set maring from left
@mixin push($index, $columns: grid(columns)) {
  margin-left: $index / $columns * 100%;
}

// Set negative maring from left
@mixin pull($index, $columns: grid(columns)) {
  margin-left: -$index / $columns * 100%;
}

// Set maring from right
@mixin post($index, $columns: grid(columns)) {
  margin-right: $index / $columns * 100%;
}

// Grid indents
@mixin utility-grid-indents($breakpoint-name: '', $postfix: '', $columns: grid(columns) ) {

  @if ($breakpoint-name != '') {
    $breakpoint-name: '-'+$breakpoint-name;
  }

  @if ($postfix != '') {
    $postfix: '-'+$postfix;
  }

  @for $index from 0 through $columns {
    .push-#{$index}#{$breakpoint-name}#{$postfix} {
      @include push($index);
    }
  }
  @for $index from 0 through $columns {
    .pull-#{$index}#{$breakpoint-name}#{$postfix} {
      @include pull($index);
    }
  }
  @for $index from 0 through $columns {
    .post-#{$index}#{$breakpoint-name}#{$postfix} {
      @include post($index);
    }
  }

  .push-fifth#{$breakpoint-name}#{$postfix} {
    margin-left: 20%;
  }
  .pull-fifth#{$breakpoint-name}#{$postfix} {
    margin-left: -20%;
  }
  .post-fifth#{$breakpoint-name}#{$postfix} {
    margin-right: 20%;
  }
  .pull-left#{$breakpoint-name}#{$postfix} {
    float: left;
  }
  .pull-right#{$breakpoint-name}#{$postfix} {
    float: right;
  }

  .clearfix#{$breakpoint-name}#{$postfix} {
    @include clearfix();
  }
}

@mixin make-grid-indents( $breakpoints: $grid-breakpoints ) {

  @include utility-grid-indents();

  @include media-min(){
    @include utility-grid-indents('desktop');
  }

  @include media-max(){
    @include utility-grid-indents('mobile');
  }

  @each $breakpoint-name, $breakpoint-value in $breakpoints {

    @if ($breakpoint-name != breakpoint-last('name')) {

      @include media-max($breakpoint-value) {
        @include utility-grid-indents($breakpoint-name);
      }

      @include media-between(breakpoint-next($breakpoint-name, 'name'), $breakpoint-value) {
        @include utility-grid-indents($breakpoint-name, 'only');
      }

    } @else if ($breakpoint-name == breakpoint-last('name')) {

      @include media-max($breakpoint-value) {
        @include utility-grid-indents($breakpoint-name);
      }
    }
  }
}